In [66]:
import sys

import pandas as pd
import s3fs

sys.path.append("/Users/fgu/dev/projects/mdb_eval")
import src.helpers.io as io

fs = s3fs.S3FileSystem(profile="3di")

In [67]:
fs.ls('3di-data-mdb/clean')

['3di-data-mdb/clean/',
 '3di-data-mdb/clean/data_XX7.parquet',
 '3di-data-mdb/clean/mdb_000.parquet',
 '3di-data-mdb/clean/mdb_777.parquet',
 '3di-data-mdb/clean/mdb_X77.parquet',
 '3di-data-mdb/clean/mdb_clean_111.parquet',
 '3di-data-mdb/clean/mdb_clean_X11.parquet',
 '3di-data-mdb/clean/mdb_clean_XX01.parquet',
 '3di-data-mdb/clean/mdb_costa.parquet',
 '3di-data-mdb/clean/pieces',
 '3di-data-mdb/clean/samples']

In [68]:
df = hio.read_parquet('s3://3di-project-eval/eval_111.parquet')

In [69]:
df

      user_id       ym  txns_count
0         111  2012-01        39.0
1         111  2012-02        38.0
2         111  2012-03        35.0
3         111  2012-04        28.0
4         111  2012-05        46.0
...       ...      ...         ...
7221   589111  2020-03        95.0
7222   589111  2020-04        56.0
7223   589111  2020-05        63.0
7224   589111  2020-06        87.0
7225   589111  2020-07        77.0

[7226 rows x 3 columns]